In [3]:
#Write a Python code to return your Python version
import sys
print(sys.version)

3.9.13 (main, Aug 25 2022, 23:51:50) [MSC v.1916 64 bit (AMD64)]

In [5]:
#Write a Python code to declare variable id="513".
#Print the following statement "customer id =513". [Don't use print("customer id)]
variable_id = "customer id=513"
variable_id

'customer id=513'

In [6]:
#Run the following statement, why there is an error
id=id+1

TypeError: can only concatenate str (not "int") to str

In [10]:
#Convert the variable id into an integer, increment it by 1.
#Assign the result to variable new_id.
#Print the new_id
id = int('234')
new_id = id+1
new_id

235

In [11]:
#Write a Python code to print the following string in a specific format (see the
# Twinkle, twinkle, little star,
# How I wonder what you are!
# Up above the world so high,
# Like a diamond in the sky.
print('Twinkle, twinkle, little star,\nHow I wonder what you are!\nUp above the world so high,\nLike a diamond in the sky.')

Twinkle, twinkle, little star,
How I wonder what you are!
Up above the world so high,
Like a diamond in the sky.

In [12]:
#Givin the following string variable, # Print the first element in the string
course="Python for Data Science"

course[0]

'P'

In [13]:
# Print the element on the 13th index in the string
course[13]

't'

In [14]:
# Find the length of string
len(course)

23

In [15]:
# Print the last element in the string [use negative index]
print(course[-1])

e

In [16]:
# Take the slice on variable course with only index 11 to index 14
course[11:14]

'Dat'

In [17]:
# Get every third element in the range from index 0 to index 20
course[0:20:3]

'Ph ra i'

In [19]:
# Concatenate course string with ", AI & Development"
A = course
B = ", AI & Developmet"
C = A+B
print(C)

Python for Data Science, AI & Developmet

In [23]:
# Replace all the spaces with (_). New string should looks like"Python_for_Data_Science"
course="Python for Data Science"
new_string=str.replace(course, ' ','_')
print(new_string)

Python_for_Data_Science

In [22]:
# Convert all the characters in string to upper case
print(str.upper(new_string))

PYTHON_FOR_DATA_SCIENCE